# ios
*.a
*.framework
*.xcframework

# android
.idea
*.jar
*.zip

# xamarin
*.userprefs
bin
obj
packages

# visual studio
.vs

# tools
tmp_*

project.lock.json
*.pfx
Package.StoreAssociation.xml
UpgradeLog.htm
google-services.json
.DS_Store
